<html>

<head>
  <meta charset="UTF-8" />
  <!-- FontAwesomeの読み込み -->
  <link rel="stylesheet" href="application.css" />
  <title>WebCampBackendNew</title>
</head>

<body class="top-body">

<h1 class="top-top">ようこそ <strong>Bookers</strong> へ！</h1>
<p class="top"><strong>Bookers</strong> では、さまざまな書籍に関するあなたの意見や</p>

<p class="top">印象を共有し交換することができます</p>

<p class="top"><%= link_to "start", "/books" %></p>


</body>
</html>